/*
TO DO:
- fix the whole fucking css
- get sass
*/

@font-face {
    font-family: andalemono;
    src: url(fonts/andalemono.ttf);
}

*{
	padding: 5px 5px 5px 5px;
}

#mainText{
	white-space: pre-line;
}

#highlight{
	border:2px solid blue;
	padding:1px; 
}

#highlight:hover{
	color:blue;
	cursor:crosshair;
}

#index{

	font-family:andalemono,monospace;
	font-size:10px;
	line-height: 1.4em;
	color:blue;
	white-space: pre-line;
	padding-top:1vh;
	padding-bottom:1vh;
}

#references{
	font-family:andalemono,monospace;
	font-size:6px;
	line-height: 1.4em;
	color:grey;
	padding-top:1vh;
	word-wrap: break-word; 
}

#memes{
	display:none;
	font-family:andalemono,monospace;
	font-size:10px;
	line-height: 1.4em;
	color:grey;
	padding-top:10vh;
	word-wrap: break-word; 
}

#memes p{
	padding-top:5px;
}

#memes img{
	max-width:100%;
	max-height:100%;
}

#memes img:hover{
	cursor:crosshair;
}

#marginleft{
	display:none;
}

#marginright{
	display:none;
}

#chapter{}

#chapter:hover{
	cursor:crosshair;
	text-decoration: underline;
}

#subchapter{
	padding-left:15px;
}

#subchapter:hover{
	cursor:crosshair;
	text-decoration: underline;
}

.affix{
	position:static;
}

@media screen and (min-width: 770px) {
	.affix{
		position:fixed;
	}

	#marginleft{
		display:block;
	}

	#marginright{
		display:block;
	}

	#memes{
		display:block;
	}

	#references{
		font-family:andalemono,monospace;
		font-size:6px;
		line-height: 1.4em;
		color:grey;
		padding-top:10vh;
	}

	#index{
		font-family:andalemono,monospace;
		font-size:10px;
		line-height: 1.4em;
		color:blue;
		white-space: pre-line;
		padding-top:25vh;
	}
}